<mat-card class="workout-card">
  <!-- Row 1: User Name -->
  <div class="row">
    <mat-form-field class="full-width">
      <mat-label>User Name</mat-label>
      <input matInput [(ngModel)]="newUserName" placeholder="Enter your name">
    </mat-form-field>
  </div>

  <!-- Row 2: Workout Type & Workout Minutes -->
  <div class="row">
    <mat-form-field class="half-width">
      <mat-label>Workout Type</mat-label>
      <mat-select [(ngModel)]="newWorkoutType">
        <mat-option *ngFor="let workout of workoutTypes" [value]="workout">
          {{ workout }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width">
      <mat-label>Workout Minutes</mat-label>
      <input matInput type="number" [(ngModel)]="newWorkoutMinutes" placeholder="Minutes">
    </mat-form-field>
  </div>

  <!-- Row 3: Add Workout Button -->
  <div class="row center">
    <button mat-raised-button color="primary" (click)="addWorkout()">Add Workout</button>
  </div>
</mat-card>

<!-- FILTERS -->
<div class="filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search by name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Workout Type</mat-label>
    <mat-select [(ngModel)]="selectedWorkoutType" (selectionChange)="applyWorkoutFilter()">
      <mat-option value="">All Workouts</mat-option>
      <mat-option *ngFor="let workout of workoutTypes" [value]="workout">
        {{ workout }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- TABLE -->
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="workouts">
    <mat-header-cell *matHeaderCellDef> Workouts </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.workouts }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="numberOfWorkouts">
    <mat-header-cell *matHeaderCellDef> Sessions </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.numberOfWorkouts }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="totalMinutes">
    <mat-header-cell *matHeaderCellDef> Total Minutes </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.totalMinutes }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
